{% extends 'home/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="hero text-center">
  <h1>About Page</h1>
  <p>Explore study-ready coffee shops across Atlanta & filter to your needs. Dive into community reviews and discover your next favorite spot.</p>
  <hr>
  <h2>Meet the Team</h2>
  <p>This project was brought to you by:<br>
    Sam Allahverdi, Tate Johnson, James Kemerait, and Tahiyat Mahmood.</p>
  <a href="https://github.com/jkemerait3/cs2340_su25_proj2.git/" class="btn">Github Repo</a>
</div>
{% endblock %}
